{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form _self %}

    
<div class="enteteProfil ">
    <div class="imageProfil">
        <img class="img-responsive" src="{{ asset('img/img_profil_admin.png') }}" alt="">
    </div>
    <div class="infosProfil">
        <a href="{{ path('pil_profil_show') }}">{{ app.user.username }}</a><br/>
    </div>
</div>    
<div class="corpsProfil ">
    <form class="form-signin" action="{{ path('pil_profil_edit') }}"  {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        <div id="fos_user_profile_form">
            <div>
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                {{ form_label(form.current_password) }}
                {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
            {{ form_rest(form) }} {# pour le jeton CSRF en hidden #}
        </div>
    </form>
</div>