{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    
    <div class="enteteProfil ">
        <div class="imageProfil">
            <img class="img-responsive" src="{{ asset('img/img_profil_user.png') }}" alt="">
        </div>
        <div class="infosProfil">
            <a href="{{ path('pil_profil_show') }}">{{ user.username }}</a><br/>
            <button type="button" onclick="self.location.href='{{ path('pil_profil_edit') }}'"  class="btn btn-default btn"><span class="glyphicon glyphicon glyphicon-edit"></span>&#32;&#32;Editer votre profil</button>
        </div>
    </div>
    
    <div class="corpsProfil">
        {% for tache in user.tasks %}
        <section onclick="getTaskDetails({{tache.id}});$('#modalTask').modal('toggle');">
            <b>{{ tache.name }}</b>
            <p>{{ tache.content|raw }}</p>
        </section>
        {% endfor %}
       
    </div>
</div>

<section class="taskDetailsSection">
	<div class="modal fade" id="modalTask" tabindex="-1" 
			role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
		</div>
	</div>
 
</section>