<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PILote admin</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('admin/css/sb-admin.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/font-awesome.min.css') }}">
    <link rel='stylesheet' href="{{ asset('admin/css/bootstrap-switch.css') }}">
    <link rel="stylesheet" href="{{ asset('http://cdn.oesmith.co.uk/morris-0.4.3.min.css') }}">
  </head>

  <body>

    <div id="wrapper">

      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('pil_admin_homepage') }}">PILote admin</a>
        </div>


        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href="{{ path('pil_admin_homepage') }}"><span class="glyphicon glyphicon glyphicon-home"></span> Dashboard</a></li>
            <li><a href="{{ path('pil_admin_users') }}"><span class="glyphicon glyphicon glyphicon-user"></span> Gestion des utilisateurs</a></li>
            <li><a href="{{ path('pil_admin_bdd') }}"><span class="glyphicon glyphicon glyphicon-cloud"></span> Gestion base de données</a></li>
            <li><a href="{{ path('pil_admin_stats') }}"><span class="glyphicon glyphicon glyphicon-stats"></span> Statistiques</a></li>
            <li><a href="{{ path('pil_admin_activity') }}"><span class="glyphicon glyphicon glyphicon-transfer"></span> Activités</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">

            <!-- Gestion de l'utilisateur -->
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.username }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('piltasker_accueil') }}"><i class="fa fa-power-off"></i> Revenir à l'index</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

      {% block body %}
      {% endblock %}

    <script src="{{ asset('admin/js/jquery-1.10.2.js') }}"></script>
    <script src="{{ asset('admin/js/bootstrap.js') }}"></script>
    <script src="{{ asset('admin/js/bootstrap-switch.js') }}"></script> {#Pour les checkbox customisé#}

    <!-- JS qui pourra servir -->
    <script src="{{ asset('http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js') }}"></script> {#Pour les graphes#}
    <script src="{{ asset('http://cdn.oesmith.co.uk/morris-0.4.3.min.js') }}"></script> {#Pour les graphes#}
    <script src="{{ asset('admin/js/morris/contenu_graphes.js') }}"></script> {#Pour les graphes#}
    <script src="{{ asset('admin/js/tablesorter/jquery.tablesorter.js') }}"></script> {#Pour les tableaux #}
    <script src="{{ asset('admin/js/tablesorter/tables.js') }}"></script> {#Pour les tableaux #}
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="{{ asset('js/flot/jquery.flot.js') }}"></script> {#Pour les graphes#}
    <script src="{{ asset('js/flot/jquery.flot.tooltip.min.js') }}"></script> {#Pour les graphes#}
    <script src="{{ asset('js/flot/jquery.flot.resize.js') }}"></script> {#Pour les graphes#}
    <script src="{{ asset('js/flot/jquery.flot.pie.js') }}"></script> {#Pour les graphes#}
    <script src="{{ asset('js/flot/chart-data-flot.js') }}"></script> {#Pour les graphes#}

    <script type="text/javascript">
     $(document).ready(function () {
      $("[name='my-checkbox']").bootstrapSwitch();
   });

</script>
    </body>
</html>
