<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  	<div class="container-fluid">

		    <ul class="nav nav-justified">

			<li>

		    <div class="navbar-header">
		      	<ul class="nav navbar-nav">
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon glyphicon-list"></span> Mes Projets </a>
			          <ul class="dropdown-menu">
			            <li><a href="{{ path('board_create') }}"><span class="glyphicon glyphicon glyphicon-plus"></span>  Ajouter</a></li>
			            <li><a href="#"><span class="glyphicon glyphicon glyphicon-edit"></span>  Modifier</a></li>
			            <li><a href="#"><span class="glyphicon glyphicon glyphicon-minus"></span>  Supprimer</a></li>
			            <li class="divider"></li>
			            <li><a href="#">Liste des boards</a></li>
			          </ul>
			        </li>
		        </ul>
		    </div>


			      <form class="navbar-form navbar-left" role="search">
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Rechercher">
			        </div>
			        <button type="submit" class="btn btn-default btn">
						<span class="glyphicon glyphicon-search"></span>
					</button>
			      </form>

			</li>

			<li>
			      <ul class="nav navbar-brand">
                                  <li>{% block boardTitle %}Projet Pilote{% endblock %}</li>
			      </ul>

			</li>

			<li>
			      <ul class="nav navbar-nav navbar-right">
            			
                                <!-- Message -->
                                <li class="dropdown"> 
						<a 
						{% if fos_message_nb_unread() > 0  %}
							style="color:#CC2200;"
						{% endif %}
						href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon glyphicon-envelope"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('fos_message_inbox') }}"><span class="glyphicon glyphicon glyphicon-inbox"></span> Inbox <span class="badge">{{ fos_message_nb_unread() }}</span></a></li>
							<li><a href="{{ path('fos_message_thread_new') }}"><span class="glyphicon glyphicon glyphicon-pencil"></span> Créer</a></li>
                                                        <li><a href="{{ path('fos_message_deleted') }}"><span class="glyphicon glyphicon glyphicon-remove-sign"></span> Archivés</a></li>
                                                        <li><a href="{{ path('fos_message_sent') }}"><span class="glyphicon glyphicon glyphicon-send"></span> Envoyés</a></li>
						</ul>
			        </li>
                                
                                
			      	<li class="dropdown"> 
						<a 
						{% if is_granted('ROLE_ADMIN') %}
							style="color:#CC2200;"
						{% endif %}
						href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon glyphicon-user"></span> {{ app.user.username }}
						</a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon glyphicon-eye-open"></span> Profil </a></li>
							<li><a href="#"><span class="glyphicon glyphicon glyphicon-question-sign"></span> Aide</a></li>
							<li class="divider"></li>
                                                        {% if is_granted('ROLE_ADMIN') %}
                                                        <li><a href="{{ path('pil_admin_homepage') }}"><span class="glyphicon glyphicon glyphicon-cog"></span> Administration</a></li>
						        {% endif %}
							<li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon glyphicon-off"></span> Déconnexion</a></li>
						</ul>
			        </li>

			        

			        <li class="dropdown">    
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			          	<span class="glyphicon glyphicon glyphicon-bell"></span>
			          </a>
			          <ul class="dropdown-menu">
						<li><a href="#">Notifications </a></li>
					</ul>
			        </li>

			      </ul>

			</li>

		  </div>
	</nav>