<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>{% block pageTitle %}PILote{% endblock %}</title>

		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />		
		<link rel="stylesheet" href="{{ asset('css/mainStyle.css') }}" type="text/css" />
		{% block styles %}{% endblock %}
	
	    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body>

		{% if is_granted('ROLE_USER') %}
	    	{% include "::authentNavbar.html.twig" %}
		{% else %}
	    	{% include "::nonAuthentNavbar.html.twig" %}
		{% endif %}

		{% block body %}
		{% endblock %}

		{% block footer %}
		{% endblock %}
		
		{% block scripts %}
		    <!-- JavaScript -->
		    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
		    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
		    <script type="text/javascript" src="{{ asset('js/date.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('admin/js/tablesorter/jquery.tablesorter.js') }}"></script>
                    <script type="text/javascript" src="{{ asset('admin/js/tablesorter/tables.js') }}"></script>
		    <script type="text/javascript">window.onload = date_heure();</script>
		    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		    <script src="{{ asset('js/fos_js_routes.js') }}"></script>
		{% endblock %}
		
	</body>
</html>
