{% trans_default_domain 'FOSUserBundle' %}

<h2>Enregistrez-vous :</h2>

<form class="form-signin" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
<div id="fos_user_profile_form">
            {% if form_errors(form.username) or form_errors(form.email) or form_errors(form.plainPassword['first']) %}
            <div class="alert alert-danger">
                <b class="text-center">Erreur lors de l'enregistrement :</b>
                {{ form_errors(form.username) }}
                {{ form_errors(form.email) }}
                {{ form_errors(form.plainPassword['first']) }}
                {{ form_errors(form.plainPassword['second']) }}
            </div>
            {% endif %}
            <div>
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                {{ form_label(form.plainPassword['first']) }}
                {{ form_widget(form.plainPassword['first'], {'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                {{ form_label(form.plainPassword['second']) }}
                {{ form_widget(form.plainPassword['second'], {'attr': {'class': 'form-control'}}) }}
            </div>
            <div>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
            {{ form_rest(form) }} {# pour le jeton CSRF en hidden #}
        </div>	
</form>
