{#

Copyright (C) 2015 Rémi Patrizio

--------------------------------

This file is part of Pilote.

    Pilote is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pilote is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pilote.  If not, see <http://www.gnu.org/licenses/>.

#}

{% extends 'PiloteMessageBundle::layout.html.twig' %}

{% block message_title %}
    Messagerie
{% endblock %}

{% block message_content %}
<div class="sheet">
    <div id="messagesList">
        {% for metadata in app.user.metadata if not metadata.read %}
            <a class="msgPreview" href="{{path('pilote_message_thread', {'id': metadata.thread.id})}}">
            	<span class="msgPreviewTitle">
	            	{% if metadata.thread.type == boardThread %}
	            		Projet : {{metadata.thread.title}}
	            	{% elseif metadata.thread.type == adminThread %}
                        {% if is_granted('ROLE_ADMIN') %}
                            Demande d'aide aux administrateurs : {{ metadata.thread.creator }}
                        {% else %}
                            Discussion avec les administrateurs
                        {% endif %}
	            	{% else %}
	            		{{ metadata.thread.participants|join(', ') }}
	            	{% endif %}
            	</span>
            	<span class="msgPreviewContent">
            		{{metadata.thread.messages | last | truncate(200) }}
            	</span>
            </a>
        {% else %}
            <div class="emptyList">Aucun message non lu. <br><br>Sélectionnez une conversation dans la colonne de droite.</div>
        {% endfor %}
    </div>
</div>

{% endblock %}
