{#

Copyright (C) 2015 Hamza Ayoub, Valentin Chareyre, Sofian Hamou-Mamar, 
Alain Krok, Wenlong Li, Rémi Patrizio, Yamine Zaidou

--------------------------------

This file is part of Pilote.

    Pilote is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pilote is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pilote.  If not, see <http://www.gnu.org/licenses/>.

#}

{# 
    Template affichant un commentaire d'une tâche. 
    C'est une partie du template taskDetails.html.twig
#}

<div class="row" data-commentId="{{comment.id}}">
	<div class="col-md-4">
		<b>{{comment.user | capitalize}}</b>
	    <p class="photo">
	        {% if comment.user.picture == null %}
	        <img src="{{ asset('img/img_profil_user.png') }}" alt="{{comment.user}}">
	        {% else %}
	        <img src="{{ asset(comment.user.picture.webPath) }}" alt="{{comment.user}}">
	        {% endif %}
	    </p>
        <p class="commentDate">{{comment.date | localizeddate('medium', 'short') }}</p>
	</div>
    <div class="col-md-8">
        <span class="glyphicon glyphicon-remove pull-right removeComment" onClick="deleteComment({{comment.id}})"
             	title="Supprimer le commentaire"></span>
        <div class="commentContent">{{comment}}</div>
    </div>
</div>