{#

Copyright (C) 2015 Rémi Patrizio

--------------------------------

This file is part of Pilote.

    Pilote is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pilote is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pilote.  If not, see <http://www.gnu.org/licenses/>.

#}

{# 
	Template affichant l'aperçu d'un document joint à une tâche.
	Si la tâche comporte un document, on affiche l'aperçu et deux boutons
	"Télécharger" et "Supprimer", sinon on affiche un bouton "Joindre".
	
	C'est une partie du template taskDetails.html.twig
#}

<h4>Pièce jointe</h4>

{% if document == null %}
	<form class="btn btn-default" id="fileUpload" action="{{ path('pilote_tasker_fileUpload') }}" method="post" {{ form_enctype(form) }}>
	<span class="glyphicon glyphicon-file"></span> Joindre un fichier
	{{ form_widget(form.file) }}
	{{ form_rest(form) }}
	</form>
{% else %}
	{% if document.originalName|split('.')|last|lower in ["jpg", "jpeg", "png", "bmp", "svg", "gif"] %}
		<img src="{{ asset(document.webPath) }}" alt="Pièce jointe : {{document.originalName}}" title="{{document.originalName}}" class="img-thumbnail">
	{% else %}
		<div>{{document.originalName}}</div>
	{% endif %}
	<a href="{{ asset(document.webPath) }}" target="_blank" class="btn btn-default" id="downloadFileBtn">
		<span class="glyphicon glyphicon-download-alt"></span> Télécharger
	</a>
	<button class="btn btn-default" id="deleteFileBtn" onclick="deleteFile({{task.id}});"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
{% endif %}