{#

Copyright (C) 2015 Rémi Patrizio

--------------------------------

This file is part of Pilote.

    Pilote is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pilote is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pilote.  If not, see <http://www.gnu.org/licenses/>.

#}

{# 
	Ce template représente, dans l'aperçu d'une tâche, sur un Board, la zone en dessous
	du titre qui contient un résumé des informations de la tâche, de manière très concise :
	- Pourcentage de progression
	- Dates de début et/ou de fin
	- Utilisateur assigné à la tâche
	- Pièce jointe
#}

{# Progression #}
{% if task.progressActivated %}
	<div class="infoProgress" title="Progression : {{task.progress}} %">
		{{ task.progress }}%
	</div>
{% endif %}

{# Dates de début et de fin #}
{% if task.endDate != null %}
	<div class="infoDates">
		{% set startDate = "Jalon : " %}
		{% if task.startDate != null %}
			{% set startDate = task.startDate | date("d/m/Y") ~ " - " %}
		{% endif %}
		<span class="glyphicon glyphicon-time" title="{{startDate ~ task.endDate | date("d/m/Y") }}"></span>
	</div>
{% endif %}

{# Assignation #}
{% if task.creator != null %}
	<div class="infoAssign" title="Cette tâche est assignée à {{task.creator}}.">
		{{ task.creator | truncate(20) }}
	</div>
{% endif %}

{# Pièce jointe #}
{% if task.document != null %}
	<div class="infoDocument">
		<span class="glyphicon glyphicon-file" title="Fichier joint : {{task.document.originalName}}"></span>
	</div>
{% endif %}
