{#

Copyright (C) 2015 Hamza Ayoub, Valentin Chareyre, Sofian Hamou-Mamar, 
Alain Krok, Wenlong Li, Rémi Patrizio, Yamine Zaidou

--------------------------------

This file is part of Pilote.

    Pilote is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pilote is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pilote.  If not, see <http://www.gnu.org/licenses/>.

#}

{# 
    Template affichant l'aperçu d'une tâche dans une liste de tâches. 
    C'est une partie du template tList.html.twig, lui-même partie du template board.html.twig
#}

<div id="task-{{ task.id }}" class="task sheet" data-toggle="modal" data-target="#modalTask" onclick="getTaskDetails({{task.id}});">
	<div class="infoLabel pull-right" style="background-color: {{ task.label.color }};{% if task.label.color == "#333333" %}display:none;{% endif %}" title="{{ task.label.text }}"></div>
	<p class="task-header">{{ task }}</p>

	{# TaskInfos contient toutes les informations résumant le contenu de la tâche, en dessous du titre #}
	<div class="taskInfos">
		{% include 'PiloteTaskerBundle:Main:taskInfos.html.twig' 
			with {'task': task} %}
	</div>
</div>