{% extends '::base.html.twig' %}

{% block styles %}
<link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}" class="css">
<link rel="stylesheet" href="{{ asset('css/fullcalendar.print.css') }}" media='print' />
<style>
#calendar {
	width: 900px;
	margin: 40px auto;
}
</style>
{% endblock %}

{% block body %}

<!-- Création du calendrier -->
<div id='calendar'></div>

{% endblock %}

{% block scripts %}

<script src="{{ asset('js/moment.js') }}"></script>
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/jquery-ui-custom.min.js') }}"></script>
<script src="{{ asset('js/board/fullcalendar.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/date.js') }}"></script>
<script type="text/javascript">window.onload = date_heure();</script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ asset('js/fos_js_routes.js') }}"></script>
<script src="{{ asset('js/board/calendar.js') }}"></script> {# là où sont contenues les données à placer sur le calendrier #}

{% endblock %}
