{% extends '::base.html.twig' %}

{# Ceci est le bloc qui remplace le titre de la page (normalement dans le <head>) #}
{% block pageTitle %} {{ parent() }} - {{ board }}{% endblock %}

{# Ceci est le bloc qui remplace le bloc identique de la vue dont cette vue hérite #}
{% block boardTitle %} {{ board }} {% endblock %}

{# Idem, on ajoute les feuilles CSS spécifiques à cette vue dans le block de style #}
{% block styles %}
<link rel="stylesheet" href="{{ asset('css/board.css') }}" class="css">
<link rel="stylesheet" href="{{ asset('css/dhtmlxgantt.css') }}" class="css">
<style type="text/css">
    html, body{ height:100%; padding:25px 0px 0px 0px; margin:0px; }
</style>
{% endblock %}


{# Bloc principal #}
{% block body %}
    <script src="{{ asset('js/board/dhtmlxgantt.js') }}"></script>
    <script src="{{ asset('js/board/dhtmlxgantt_tooltip.js') }}"></script>

    <div id="gantt_here" style='width:100%; height:100%;'>
               {#
        {% for task in tasks.data %}
             Pour chaque item dans TASKS <br>
             Tache : <br>
            {{dump(gantt)}}
        {% endfor %}
             #}
    </div>
<script type="text/javascript">
    
		gantt.init("gantt_here");
                {# Il faut change PHP à JavaScript #}
		gantt.parse({{ganttData|json_encode()|raw}});
                

	</script>
<section class="taskDetailsSection">
        <div class="modal fade" id="modalTask" tabindex="-1" 
                        role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                </div>
        </div>
</section>
{% endblock %}


{% block scripts %}
    {{ parent() }}
	<script src="{{ asset('js/board/manageTask.js') }}"></script>
	<script src="{{ asset('js/board/manageChecklists.js') }}"></script>
        <script src="{{ asset('js/board/detailtache.js') }}"></script>
        <script>
            $('.gantt_add,.gantt_grid_head_add').remove();
        </script>
{% endblock %}

