{#

Copyright (C) 2015 Rémi Patrizio

--------------------------------

This file is part of Pilote.

    Pilote is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pilote is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pilote.  If not, see <http://www.gnu.org/licenses/>.

#}

<div class="notification" onclick="location.href='{{notif.link}}';" data-id="{{notif.id}}" data-read="{{notif.read ? 1 : 0 }}">
	<div class="glyphicon glyphicon-remove pull-right" title="Fermer" onclick="removeNotification($(this).parent());"></div>
	<div class="notif-aside">
		<div class="notif-photo">
	        {% if notif.sender.picture == null %}
	        <img src="{{ asset('img/img_profil_user.png') }}" alt="Photo de profil">
	        {% else %}
	        <img src="{{ asset(notif.sender.picture.webPath) }}" alt="Photo de profil">
	        {% endif %}
		</div>
		<div class="notif-date">
			{% if date(notif.date)|date('Ymd') >= 'now'|date('Ymd') %}
				aujourd'hui
			{% elseif date(notif.date)|date('Ymd') >= date('-1day')|date('Ymd') %}
				hier
			{% else %}
				{{notif.date | localizeddate('none', 'short', null, null, "d MMM")}}
			{% endif %}
			<br>
			à {{notif.date | localizeddate('none', 'none', null, null, "HH:mm")}}
		</div>
	</div>
	<div class="notif-text">
		<span class="notif-title">{{notif.title|raw}}</span>
		<span class="notif-content">{{notif.content|raw}}</span>
	</div>
</div>