<!--

Copyright (C) 2015 Rémi Patrizio

________________________________

This file is part of Pilote.

    Pilote is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pilote is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pilote.  If not, see <http://www.gnu.org/licenses/>.

-->

{% extends "PiloteMainBundle::base.html.twig" %}

{% block pageTitle %}{{ parent() }}  - Administration{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" type="text/css" />
{% endblock %}

{% block body %}
  
    <section id="admin" class="container">
        <h1>Administration <small> <span class="glyphicon glyphicon-play"></span> {% block title %}Tableau de bord{% endblock %}</small></h1>
        <nav >
            <a class="btn btn-primary" href="{{path('pilote_admin_homepage')}}">Tableau de bord</a> 
            <a class="btn btn-primary" href="{{path('pilote_admin_users')}}">Gestion des utilisateurs</a> 
            <a class="btn btn-primary" href="{{path('pilote_admin_boards')}}">Gestion des projets</a>
            <a class="btn btn-primary" href="{{path('pilote_admin_user_new')}}">Créer un nouvel utilisateur</a>
            <a class="btn btn-success" href="{{path('pilote_projects')}}">Revenir à l'accueil du site</a>
        </nav>
        {% block content %}{% endblock %}
    </section>

{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}