{% extends "PILMessageBundle::layout.html.twig" %}
{% block fos_message_content %}

<form class="form-signin" action="{{ url('fos_message_thread_new') }}" method="post">
<h2>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2>
<div id="fos_user_profile_form">
    <div>
        {{ form_label(form.recipient) }}
        {{ form_widget(form.recipient, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div>
        {{ form_label(form.subject) }}
        {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div>
        {{ form_label(form.body) }}
        {{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br/>
    <div>
      <input class="btn btn-lg btn-primary btn-block" type="submit" />
    </div>
    {{ form_rest(form) }}
</div>
</form>

{% endblock %}
