{% extends 'PILMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2>Sujet : {{ thread.subject }}</h2>

<div id="fos_user_profile_form">
    <div class="col-lg-6">
    {% for message in thread.messages %}

        <div class="panel panel-primary">
              <div class="panel-heading">
                    <h6 class="panel-title">{% trans with {'%sender%': message.sender|e, '%date%': message.createdAt|date("d/m/Y")} from 'FOSMessageBundle' %}message_info{% endtrans %}</h6>
              </div>
              <div class="panel-body">
                <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                    {# On affiche le contenu du message #}
                    {{ message.body }}
                </div>
              </div>
        </div>

    {% endfor %}

    {# Le formulaire pour répondre #}
    <form class="form-signin" action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
          <div>
              {{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}
          </div>
          <br/>
          <div>
              <input class="btn btn-lg btn-primary btn-block" type="submit" value="Répondre"/>
          </div>
              {{ form_rest(form) }} {# pour le jeton CSRF en hidden #}
    </form>
</div>

{% endblock %}
